.js-post {
    size: 24px;
    border-bottom: 1px solid black;
    padding-left: 40px;
}

.js-comment {
    size: 24px;
    margin-left: 50px;
}

.js-purple {
    color: purple;
}

.js-button {
    margin: 10px 0;
    width: 125px;
    margin-right: 10px;
}